@charset "utf-8";
/* *******************************************************
 * filename : main.css
 * description : 메인 레이아웃 및 컨텐츠 CSS
 * date : 2018-03-27
******************************************************** */

/* ******************  메인 비주얼 ********************** */
#mainVisual{overflow:hidden; width:100%; height:500px; position:relative; background-color:#000; word-break:keep-all}	/* 비주얼높이값 이미지에맞게 수정 */
#mainVisual.full-height{height:1030px;}
.video-wrapper{position:absolute; top:0px; left:0px; right:0px; bottom:0px;}
#mainVisualVideo {position:absolute; top:50%; left:50%; min-width:100%; min-height:100%; -ms-transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%);}
/* 메인 비주얼 :: 텍스트 */
.main-visual-txt-con{text-align:center; margin-top:129px} /* margin-top은 조정 (텍스트영역 높이의 반) */
.main-visual-txt-con .main-visual-txt1,
.main-visual-txt-con .main-visual-txt2{
	opacity:0;filter:Alpha(opacity=0);
	-ms-transform: translateX(-50px); 
    -o-transform: translateX(-50px); 
    -moz-transform: translateX(-50px);
    -webkit-transform: translateX(-50px); 
     transform: translateX(-50px);
	-webkit-transition:opacity 1.0s, transform 1.0s;
	-moz-transition:opacity 1.0s, transform 1.0s;
	-o-transition:opacity 1.0s, transform 1.0s;
	-ms-transition:opacity 1.0s, transform 1.0s;
	transition:opacity 1.0s, transform 1.0s;
}
.main-visual-txt-con .main-visual-txt1{display:block; font-size:84px; font-weight:600; color:#fff; margin-bottom:25px; line-height:1.2}
.main-visual-txt-con .main-visual-txt2{font-size:20px; color:#fff; line-height:1.6; font-weight:400; -webkit-transition-delay:0.3s;-moz-transition-delay:0.3s;-o-transition-delay:0.3s;-ms-transition-delay:0.3s;transition-delay:0.3s;}
.main-visual-txt-con .main-visual-txt2 span{display:inline-block; vertical-align:middle; margin:0 3px;}
/* 메인 비주얼 :: active효과 */
.active-section .main-visual-txt-con .main-visual-txt1,
.active-section .main-visual-txt-con .main-visual-txt2{
	opacity:1.0;filter:Alpha(opacity=100);
	-ms-transform: translateX(0px); 
    -o-transform: translateX(0px); 
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px); 
     transform: translateX(0px);
}



/* ******************  메인 컨텐츠영역 ********************** */
/* -------- 공통 -------- */
#mainVisual .fp-tableCell{padding-top:0}
/* 공통 :: 버튼 */
.cm-button-style04 em,
.cm-button-style04 i{-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s}
.cm-button-style04{position:relative; overflow:hidden; display:inline-block; width:185px; height:45px; line-height:45px; border:1px solid #c49a6c; text-align:left; -webkit-border-radius:25px;-moz-border-radius:25px;-o-border-radius:25px;border-radius:25px;}
.cm-button-style04:before{
    display:block; position:absolute; left:-130%; bottom:0; content:""; width:120%; height:150%; background:#c49a6c; /* opacity:0;filter:Alpha(opacity=0); */
    transform:skew(-20deg); 
    -webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;transition:all 0.5s
}
.cm-button-style04 em{position:relative; z-index:1; display:block; color:#c49a6c; font-size:15px; font-weight:400;text-align:center;}
.cm-button-style04 i{position:absolute; top:0px; right:8px; line-height:45px; color:#333; font-size:20px;}
.cm-button-style04:hover em{color:#fff;}
.cm-button-style04:hover i{color:#c49a6c}
.cm-button-style04:hover:before{left:-10%; opacity:1.0;filter:Alpha(opacity=100);}


/* -------- 메인 컨텐츠 :: 두번째영역 -------- */
#mainSecondSection{background:url(/images/main/main_second_bg.jpg) no-repeat 100% 100%; background-size:contain;}
#mainSecondSection .fp-tableCell{padding-top:0}
.main-second-txt-box{text-align:center;}
.main-second-txt-box .second-logo{display:block; margin-bottom:35px;}
.main-second-txt-box h3{font-size:68px; line-height:1.2; color:#222a35; font-weight:600; margin-bottom:42px; word-break:keep-all;}
.main-second-txt-box .second-txt{color:#333; font-size:18px; line-height:1.7; font-weight:300;}
.main-second-txt-box .second-txt span{display:inline-block; margin:0 3px; }

/* -------- 메인 컨텐츠 :: Our Scientific Approach -------- */
#mainScientificContent{background-color:#fafafa}
.main-science-txt-box{text-align:center; margin-top:3%;}
.main-science-txt-box h3{color:#222a35; font-size:60px; margin-bottom:65px; line-height:1.2}
.science-process-list{margin-bottom:70px}
.science-process-list li{position:relative; display:inline-block; margin:0 77px}
.science-process-list li:before{position:absolute; top:100px; left:-125px; width:88px; height:12px; background:url(/images/main/process_arrow_img.png) no-repeat; content:"";}
.science-process-list li:first-child:before{display:none;}
.science-process-list li .img-box{margin-bottom:30px}
.science-process-list li .img-tit{color:#111; font-size:20px; font-weight:600;}
.main-science-txt-box .sub-txt{color:#333; font-size:18px; line-height:1.7; font-weight:300; /* margin-bottom:55px; */}
.main-science-txt-box .sub-txt span{display:inline-block; margin:0 3px;}


/* -------- 메인 컨텐츠 :: 하단영역 -------- */
#mainCustomerContent .fp-tableCell{vertical-align:top;}
/* 퀵링크 */
.main-top-link-list{margin:130px auto 2.5% ;}
.main-top-link-list ul{margin:0 -1%;}
.main-top-link-list li{float:left; width:48%; margin:0px 1%}
.main-top-link-list li a{display:block; position:relative;}
.main-top-link-list li .bg-img img{width:100%;}
.main-top-link-list li .link-tit{
	font-size:46px; letter-spacing: 0px; color:#919191; position:absolute; top:50%; left:40px; 
	font-family:'Crimson Text', serif;
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.main-top-link-list li .link-tit.white{color:#fff;}
/* 뉴스 */
.news-list-container{position:relative; padding-left:238px}
.news-list-container .news-tit-box{position:absolute; top:50%; left:0; width:238px; 
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);}
.news-list-container .news-tit-box .news-tit{color:#111; font-size:36px; letter-spacing:-0.3px; margin-bottom:40px}
.news-list-container .news-tit-box .news-more-btn{overflow:hidden; position:relative; color:#333; font-size:15px; font-weight:500; display:inline-block; padding-bottom:8px;}
.news-list-container .news-tit-box .news-more-btn:before,
.news-list-container .news-tit-box .news-more-btn:after{position:absolute; left:0; bottom:0px; width:100%; height:2px; content:""; background-color:#d0d0d0;}
.news-list-container .news-tit-box .news-more-btn:after{background-color:#c49a6c;width:0; -webkit-transition:all 0.4s;-moz-transition:all 0.4s;-o-transition:all 0.4s;-ms-transition:all 0.4s;transition:all 0.4s}
.news-list-container .news-tit-box .news-more-btn i{margin-right:5px;}
.news-list-container .news-tit-box .news-more-btn:hover:after{width:100%}
.news-list-container .news-list-con{height:350px}
.news-list-container .news-item{border-top:1px solid #e2e2e2; }
.news-list-container .news-item:first-child{border-top:0;}
.news-list-container .news-item a{display:block; position:relative; padding:34px 0; padding-right:125px}
.news-list-container .news-item .news-subject,
.news-list-container .news-item .news-sub-txt,
.news-list-container .news-item .news-date,
.news-list-container .news-item .news-more-btn{white-space:nowrap; overflow:hidden; text-overflow:ellipsis; -webkit-transition:all 0.4s;-moz-transition:all 0.4s;-o-transition:all 0.4s;-ms-transition:all 0.4s;transition:all 0.4s}
.news-list-container .news-item .news-subject{color:#111; font-size:19px; font-weight:600;}
.news-list-container .news-item .news-sub-txt{margin-top:12px; color:#333; font-size:16px; font-weight:400; }
.news-list-container .news-item .news-date{position:absolute; bottom:42px; right:0px; color:#bababa; font-size:14px;}
.news-list-container .news-item .news-more-btn{position:absolute; top:50%; right:0px; opacity:0;filter:Alpha(opacity=0); margin-top:-20px;}
.news-list-container .news-item .news-more-btn i{color:#ccc; font-size:28px;}
@media all and (min-width:1025px){
	.news-list-container .news-item a:hover .news-sub-txt{color:#000}
	.news-list-container .news-item a:hover .news-date{bottom:30px; opacity:0;filter:Alpha(opacity=0);}
	.news-list-container .news-item a:hover .news-more-btn{margin-top:-15px;opacity:1.0;filter:Alpha(opacity=100);}
}
/* -------- 메인 :: 하단 Footer -------- */
.main-contact-box{text-align:center; height:238px; background:#958172 url(/images/main/main_contact_bg.jpg) no-repeat 50% 50%; background-size:cover;}
.main-contact-box h3{color:#fff; font-size:40px; margin-bottom:30px; font-weight:500;}
.main-contact-box .more-btn{border-color:rgba(196,154,108,0.3); }
.main-contact-box .more-btn em{color:#fff;}
.main-contact-box .more-btn:before{background-color:#fff;}
.main-contact-box .more-btn:hover em{color:#c49a6c ;}


/* -------- 공통 :: 스크롤효과 -------- */
.fade-in{
	opacity:0;filter:Alpha(opacity=0); 
	-webkit-transform: translateY(100px);
	-moz-transform: translateY(100px);
	-ms-transform: translateY(100px);
	-o-transform: translateY(100px);
	transform: translateY(100px);
	-webkit-transition: transform 1s ease, opacity 1s ease;
	transition: transform 1s ease, opacity 1s ease;
	-webkit-transition-delay:0.2s; transition-delay:0.2s;
}
.active-section .fade-in{
	opacity:1.0;filter:Alpha(opacity=100);
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
}
.active-section .fade-in.fade-in-02{-webkit-transition-delay:0.3s; transition-delay:0.3s;}
.active-section .fade-in.fade-in-03{-webkit-transition-delay:0.6s; transition-delay:0.6s;}
.active-section .fade-in.fade-in-04{-webkit-transition-delay:0.9s; transition-delay:0.9s;}
.active-section .fade-in.fade-in-05{-webkit-transition-delay:1.2s; transition-delay:1.2s;}
.move-down{
	opacity:0;filter:Alpha(opacity=0); 
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	-o-transform: translateY(-50px);
	transform: translateY(-50px);
	-webkit-transition: transform .8s ease, opacity .8s ease;
	transition: transform .8s ease, opacity .8s ease;
}
.move-down.move-down-02{-webkit-transition-delay:0.4s; transition-delay:0.4s; }
.move-down.move-down-03{-webkit-transition-delay:0.7s; transition-delay:0.7s; }
.move-down.move-down-04{-webkit-transition-delay:1s; transition-delay:1s; }
.active-section .move-down{
	opacity:1.0;filter:Alpha(opacity=100);
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
}




/* ************ 210203 :: 기업홍보영상 추가 ************* */
.main-second-txt-box{margin-top:5%}
@media (max-width: 1024px){
	.main-second-txt-box{margin-top:0}
}
/* 기업홍보영상 */
.promote-vide{/*margin-top:65px*/margin-top:3.4%}
.promote-vide-tit{text-align:center; font-weight:700; font-size:18px !important; letter-spacing:-0.65px; color:#222a35; margin-top:20px}
.video-iframe-wrapper{position:relative; max-width:318px; margin:0px auto; overflow:hidden; border-radius:5px}
.video-iframe-box{position:relative; padding-top:52.5%; height:0; background-color:#000}
.video-iframe-box iframe{position:absolute; top:0px; left:0px; width:100%; height:100%;}
.video-cover-box{position:absolute; top:0px; left:0px; width:100%; height:100%; cursor:pointer ;  }
.video-cover-box:after{position:absolute; top:0px; left:0px; width:100%; height:100%; cursor:pointer ; background-color:rgba(0,0,0,0.3); content:""; opacity:1; transition:all 0.3s}
.video-cover-box .thumb{display:block; width:100%; height:100%;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s}
.video-cover-box .thumb img{width:100%; height:100%;}
.video-cover-box .icon{position:absolute; top:50%; left:50%;  z-index:1; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.video-cover-box .icon i{font-size:50px; color:#fff; line-height:50px; transition:all 0.3s}
.video-cover-box:hover .icon i{color:#c49a6c}
.video-cover-box:hover:after{opacity:0}

/* 비디오 영역 :: 모달 */
#fieldPop {margin:35px auto 20px; max-width:1350px}
#fieldPop .field-pop-inner{padding:40px 60px; background:#fff}
.video-modal-content{position:relative; width:96%; max-width:1350px; margin:20px auto; }
.video-modal-content .modal-close-btn{top:-50px; right:0px;}
.video-modal-content h1{font-weight:700; font-size:30px; color:#fff; letter-spacing:-0.65px; text-align:center; margin-bottom:30px; font-family: 'LotteMartDream', 'Noto Sans KR', sans-serif !important;}
.video-modal-content h1 + .modal-close-btn{top:0px;}
.video-modal-content h1 + .modal-close-btn i{color:#c49a6c; font-size:30px}
.video-modal-inner{width:100%;}
.video-modal-inner .video-container{position:relative; width:100%; height:0; padding-top:42.5%; }
.video-modal-inner .video-container iframe{position:absolute; top:0px; left:0px; right:0px; bottom:0px;}


